.container 
{
    width: 100%;
    height: auto;
    border: 0.5px solid gray;
    background-color: rgb(220, 215, 215);
}
    
.row 
{
    display: block;
    width: 100%;
    height: 350px;
    margin: 10px;
}
    
.col
{
    display: inline-block;
    width: 45%;
    height: inherit;
    margin: 10px;
    float: left;
}
